<tr data-key="{{id}}">
    <td>
        <a {{#if @root.unlockOthers}}onclick="window.location.href = '/update?id={{id}}'"{{/if}}>
            {{surname}}
        </a>
    </td>
    <td>{{number}}</td>
</tr>
