<div>
    <table id="table-template" class="styled-table">
        <tr>
            <th>Name</th>
            <th>Phone</th>
        </tr>
        {{#each phones}}
            {{>record}}
        {{/each}}
    </table>
</div>
<div class="form-part edit">
    <div class="controls-wrapper">
        <label>
            <input type="text" name="surname" placeholder="Type surname here...">
        </label>
        <label>
            <input id="tel" type="text" oninput="phoneOnChange()" name="number" placeholder="Type number here...">
        </label>
        <button id="add" onclick="addNewRecord()">Add</button>
        <button onclick="{{goBack}}">Cancel</button>
    </div>
</div>
<script>
    function phoneOnChange() {
        const text = document.querySelector('#tel').value;
        const phonePattern = "^(\\+375|80)(29|25|44|33)(\\d{3})(\\d{2})(\\d{2})$";
        const phoneValidation = new RegExp(phonePattern);
        document.getElementById("add").disabled = !phoneValidation.test(text);
    }
</script>

